DB_URL=jdbc:sqlserver://14.225.217.109:1433;databaseName=QuanLiSport;encrypt=true;trustServerCertificate=true;sendStringParametersAsUnicode=true;
DB_USERNAME=sa
DB_PASSWORD=TOP1@iyounguru!

echo 'export PAYOS_CLIENT_ID="4bc79292-5208-4f3c-b8d6-5c75b0a9d8b7"' >> ~/.bashrc
echo 'export PAYOS_API_KEY="58413e5a-5fbb-4dfc-9f63-662e46fecf96"' >> ~/.bashrc
echo 'export PAYOS_CHECKSUM_KEY="f15f8613aebb1398b66e2473a1835f0c52d230064c78febe84e478ccb2588ac0"' >> ~/.bashrc
MAPTILER_API_KEY=your_maptiler_api_key